.editor-container {
  width: 100%;
  min-height: 100vh;
  padding: 8px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  background-color: rgb(255, 255, 255);
}

.editor-container .top-heading {
  color: black;
  font-family: sans-serif;
  font-size: 2em;
  text-decoration: underline;
}

.editor-container .saveBtn {
  width: fit-content;
  cursor: pointer;
  padding: 9px 15px;
  border: 1px solid #dadce0;
  background-color: #dadce0;
  color: black;
  font-weight: 700;
  transition: all 0.25s ease-in-out;
  align-self: flex-end;
  margin: 8px 0;
}

.editor-container .saveBtn:hover {
  border: 1px solid black;
  background-color: black;
  color: #dadce0;
  border-radius: 8px;
}

.editor-container #editorjs {
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
  color: black;
  padding: 6px;
}

.customImage-input {
  width: 100%;
  padding: 6px 12px;
  margin: 10px 0;
  border: 1px solid #ccc;
  color: #333;
  font-size: 15px;
  background-color: #f8f8f8;
  cursor: pointer;
  border-radius: 4px;
  display: inline-block;
}

.customVideo-input {
  width: 100%;
  padding: 6px 12px;
  margin: 10px 0;
  border: 1px solid #ccc;
  color: #333;
  font-size: 15px;
  background-color: #f8f8f8;
  cursor: pointer;
  border-radius: 4px;
  display: inline-block;
}

.customVideo-input::file-selector-button {
  font-weight: 400;
  background-color: white;
  color: #000000;
  padding: 0.5em;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 8px;
}

.customTable {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow-x: auto;
  padding: 5px;
  margin: 5px 0;
}

.customTable td {
  padding: 8px;
  border: 1px solid #ccc;
  background-color: #fff;
}

.customTable input {
  width: calc(100%);
  border: none;
  padding: 4px;
  box-sizing: border-box;
  background-color: transparent;
  outline: none;
}

.customTable-btn-containers {
  display: none;
  align-items: center;
  justify-content: space-evenly;
  gap: 5px;
  padding: 5px;
  transition: all 0.25 ease-in-out;
}

.customTable-btn-containers--top {
  width: 100%;
  position: absolute;
  z-index: 1;
  top: -2px;
  left: 0;
}

.customTable-btn-containers--bottom {
  width: 100%;
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: 0;
}

.customTable-btn-containers--left {
  position: absolute;
  z-index: 1;
  height: 100%;
  top: 0;
  left: -1px;
}

.customTable-btn-containers--right {
  position: absolute;
  z-index: 1;
  height: 100%;
  top: 0;
  right: 0;
}

.customTable-cells {
  width: 50px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
  text-wrap: wrap;
  overflow: x;
}

.customTable-buttons {
  width: 20px;
  height: 20px;
  background-color: white;
  color: black;
  border: 1px solid #ccc;
  border-radius: 3px;
  cursor: pointer;
  font-family: monospace;
  font-weight: 700;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.customTable-container-tools {
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 6px;
  justify-content: space-evenly;
  padding: 5px;
  border: 1px solid #2d2d2d;
  border-radius: 4px;
  background-color: rgb(255, 255, 255);
  z-index: 1;
}

.customTable-container-tools-colorPickerInput {
  cursor: pointer;
  border: 1px solid black;
  border-radius: 5px;
}

.customTable-container-tools-Btns {
  background-color: white;
  border: 1px solid black;
  border-radius: 4px;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 14px;
  font-family: sans-serif;
}

.customTable-container-tools-Btns:hover {
  background-color: rgb(230, 250, 255);
}

.customImage-imageWrapper {
  margin: 10px 0px;
  display: flex !important;
  align-items: center;
  justify-content: center;
}

.customImage-imageWrapper img {
  max-width: 100%;
  width: 100%;
  border-radius: 2px;
}

.customAssets-btnContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  padding: 5px;
  margin: 5px 0;
  background-color: #ffffff;
  border: 1px solid #ccc;
  border-radius: 5px;
  position: relative;
  width: 100%;
}

.customAssets-itemsContainer {
  background-color: #ffffff;
  width: 100%;
  position: absolute;
  z-index: 1;
  top: 100%;
  bottom: 0;
  padding: 5px;
  height: 320px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: start;
  justify-content: space-around;
  overflow-y: auto;
  gap: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.customAssets-itemsContainer .customAssets-item {
  width: 160px;
  height: 150px;
  border: 1px solid white;
  background-color: white;
  cursor: pointer;
  padding: 2px;
}

.customAssets-itemsContainer .customAssets-item:hover {
  border-color: skyblue;
}

.customAssets-img {
  width: 400px;
  height: 350px;
  border-radius: 5px;
}

.customAssets-video {
  width: 400px;
  height: 350px;
  border-radius: 5px;
}

.customAssets-buttons {
  padding: 3px 5px;
  border: 1px solid rgb(232, 251, 255);
  background-color: white;
  border-radius: 3px;
  color: black;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-family: sans-serif;
  font-size: 0.9em;
}

.customAssets-buttons:hover {
  background-color: rgb(238, 254, 255);
  border-color: rgb(238, 254, 255);
}

.customAssets-doc {
  width: 100%;
  padding: 7px;
  border: 1px solid black;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-family: sans-serif;
  font-size: 0.8em;
  text-wrap: wrap;
}

.customAssets-note {
  width: 100%;
  padding: 7px;
  border: 1px solid black;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-family: sans-serif;
  font-size: 0.8em;
  text-wrap: wrap;
}
